    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-cup"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Respuestas</p>
                                    {{currentIndex}}/{{examQuestions.length}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h5 class="title">{{currentQuestion.question}}</h5>
                    </div>
                    <div *ngFor="let option of currentQuestion.options">
                        <div class="content">
                            <button class="btn btn-default" [ngClass]="option.id" data-toggle="button">{{option.answer}}</button>
                        </div>
                    </div>
                </div>
                
                <button class="btn btn-warning" (click)="okClick()">OK</button>
                <button class="btn btn-warning" (click)="nextClick()">Siguiente</button>
            </div>
        </div>
    </div>
